<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyFirstWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>sample</servlet-name>
    <servlet-class>com.as.samples.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>/sample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>com.as.samples.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalInfoServlet</display-name>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <servlet-class>com.as.servlets.PersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalInfoServlet</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactInfoServlet</display-name>
    <servlet-name>ContactInfoServlet</servlet-name>
    <servlet-class>com.as.servlets.ContactInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactInfoServlet</servlet-name>
    <url-pattern>/cntctInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankInfoServlet</display-name>
    <servlet-name>BankInfoServlet</servlet-name>
    <servlet-class>com.as.servlets.BankInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankInfoServlet</servlet-name>
    <url-pattern>/bankInfo</url-pattern>
  </servlet-mapping>
  <error-page>
  <error-code> 404 </error-code>
  <location>/html/404.html</location>
  </error-page>
</web-app>